@import "../breakpoints.module.scss";

.container {
  @include xxs {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  @include lg {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 6em;
  }
}
.cartInfo {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
