@@use '../../lib/styles/variables.module.scss' as v;.module.scss' as v;
@import '../../lib/styles/mixins/breakpoints.module.scss';

.container {
  position: relative;
  width: 100%;
}
.window {
  width: 100%;
  padding: 0 1em;
  border-radius: 50px;
  border: 1px solid v.$light-lines;
  position: relative;
}
.window_opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form {
  width: 100%;
}
.input {
  @include xxs {
    width: 100%;
    height: 3em;
    border: none;
    padding: 1em;
  }
  @include md {
    height: 4em;
  }
}
.icon {
  transform: scale(0.5);
}
