.container {
  display: flex;
  position: relative;
  margin-bottom: 4em;
  user-select: none;

  &:hover {
    cursor: grabbing;
  }
}
.track {
  position: relative;
  pointer-events: none;
  align-items: normal;
}
.controls {
  display: flex;
  justify-content: space-between;
}
