@use "@lib/styles/variables.module.scss" as v;
@import "@lib/styles/mixins/breakpoints.module.scss";

.mobileMenu {
  color: v.$color-text;
  @include sm {
    display: none;
  }
}

.header {
  position: absolute;
  left: 3em;
}
.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}
.dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.dot_opened {
  position: relative;
  z-index: 1000;
  background: v.$color-text;
  width: 30px;
  height: 4px;
  border-radius: 0;
  position: relative;
  left: -16px;

  &:first-child {
    display: none;
  }
  &:nth-child(2) {
    transform: rotate(45deg);
  }
  &:last-child {
    transform: rotate(-45deg) translate(5px, -6px);
  }
}
.logo {
  z-index: 5000;
}
