@use "../../variables.module.scss" as v;

.container {
  position: relative;
}
.slider {
  height: 5px;
  position: relative;
  background: red;
  border-radius: 5px;
}
.progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range_input {
  position: relative;
}
.range_input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range_input input::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 1px solid v.$color-text;
  background: v.$light-lines;
  pointer-events: auto;
  -webkit-appearance: none;
  appearance: none;
}
