@import '../../../lib/styles/mixins/breakpoints.module.scss';

.image {
  display: block;
  @include xxs {
    width: 40px;
    height: 40px;
  }
  @include sm {
    width: 35px;
    height: 35px;
  }
  @include md {
    width: 50px;
    height: 50px;
  }
}
