@import "../../breakpoints.module.scss";

.container {
  display: grid;

  @include xs {
    grid-template-columns: repeat(2, minmax(0, 360px));
    grid-template-rows: repeat(2, 1fr);
  }
  @include md {
    grid-template-columns: repeat(4, minmax(0, 360px));
    grid-template-rows: unset;
  }
}
