.gap {
  display: flex;
}
.small {
  gap: 0.8em;
}
.medium {
  gap: 2em;
}
.large {
  gap: 3.5em;
}

.horizontal {
  flex-direction: row;
  // align-items: center;
}
.vertical {
  flex-direction: column;
}
