@import "../../breakpoints.module.scss";

.gap {
  display: flex;
}
.small {
  gap: 0.8em;
}
.medium {
  gap: 2em;
}
.large {
  @include xs {
    gap: 1.5em;
  }
  @include md {
    gap: 2.5em;
  }
  @include lg {
    gap: 3.5em;
  }
}
.huge {
  gap: 6em;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}
.vertical {
  flex-direction: column;
  justify-content: space-between;
}
