@use "@lib/styles/variables.module.scss" as v;
@import "@lib/styles/mixins/breakpoints.module.scss";

.button {
  background: v.$color-primary;
  border-radius: 50px;
  border: none;
  width: fit-content;
  height: fit-content;

  @include xxs {
    min-width: 16em;
    min-height: 4em;
  }
  @include sm {
    min-width: 18em;
    min-height: 5em;
  }
}
