@use "variables.module.scss" as v;
@import "./breakpoints.module.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
button {
  font-size: 18px;
  line-height: 1.3em;
}

html,
body {
  font-family: var(--font-circe);
  overflow-x: hidden;
  color: v.$color-text;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

li {
  margin-left: 20px;
}
button {
  color: v.$color-text-light;
  text-transform: uppercase;
  font-family: var(--font-orchidea-pro);
}

h1,
h2,
h3,
h4,
h5,
h6,
.text_big {
  font-family: var(--font-orchidea-pro);
  text-transform: uppercase;
  color: v.$color-text;
}

h1 {
  font-size: 3.3em;
  line-height: 3.8em;
}
h2,
.text_big {
  font-size: 2.3em;
}
h2 {
  line-height: 2.8em;
  @include xs {
    line-height: 1.5em;
  }
}
h3 {
  font-size: 1.5em;
  line-height: 2.2em;
}
h4 {
  font-size: 1.1em;
  line-height: 1.6em;
}
h5 {
  font-size: 0.8em;
  line-height: 1.2em;
}
h1,
h2,
h3 {
  letter-spacing: 0.08em;
}

h4,
h5 {
  letter-spacing: 0.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  color: v.$color-link;
  line-height: 1;

  &:hover {
    color: v.$color-primary;
  }
}

label {
  color: v.$color-primary;
}
button,
label {
  cursor: pointer;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;

  // @include xl {
  //   max-width: 1100px;
  // }
}

.wrapper_small {
  max-width: 1000px;
  margin: 0 auto;
}

.text_secondary {
  color: v.$color-text-secondary;

  a:hover {
    color: v.$color-text;
  }
}
.text_light {
  color: v.$color-text-light;
}
.text_small {
  font-size: 0.8em;
  line-height: 0.9em;
}
.text_big {
  font-weight: 400;
  line-height: 1.5em;
  text-transform: uppercase;
}
.text_primary {
  color: v.$color-primary;
}
