@use "variables.module.scss" as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-circe);
  font-size: 18px;
  line-height: 1.3em;
  color: v.$color-text;
}

li {
  margin-left: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-orchidea-pro);
  text-transform: uppercase;
  color: v.$color-text;
}

h1 {
  font-size: 3.3em;
  line-height: 3.8em;
}
h2 {
  font-size: 2.3em;
  line-height: 2.8em;
}
h3 {
  font-size: 1.5em;
  line-height: 2.2em;
}
h4 {
  font-size: 1.1em;
  line-height: 1.6em;
}
h5 {
  font-size: 0.8em;
  line-height: 1.2em;
}
h1,
h2,
h3 {
  letter-spacing: 0.08em;
}

h4,
h5 {
  letter-spacing: 0.2em;
}

a {
  color: v.$color-link;
  text-decoration: none;
  line-height: 1;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}

.text_secondary {
  color: v.$color-text-secondary;

  a:hover {
    color: v.$color-text;
  }
}
