@use "variables.module.scss" as v;
@import "./breakpoints.module.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
button {
  line-height: 1.3em;
  @include xxs {
    font-size: 12px;
  }
  @include md {
    font-size: 14px;
  }
  @include xl {
    font-size: 18px;
  }
}

html,
body {
  font-family: var(--font-circe);
  overflow-x: hidden;
  color: v.$color-text;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.react-multi-carousel-item {
  margin-left: 20px;
}
button {
  color: v.$color-text-light;
  text-transform: uppercase;
  font-family: var(--font-orchidea-pro);
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text_big,
.text_medium,
input::placeholder {
  font-family: var(--font-orchidea-pro);
  font-weight: 700;
  text-transform: uppercase;
  color: v.$color-text;
}
input {
  font-family: var(--font-orchidea-pro);
  color: v.$color-text;
}

.option {
  font-family: var(--font-orchidea-pro);
  font-weight: 400;
}

h1 {
  font-size: 3.3em;
  line-height: 3.8em;
}
h2,
.text_big {
  @include xxs {
    font-size: 2em;
  }
  @include sm {
    font-size: 2.3em;
  }
}
h2 {
  line-height: 2.8em;
  @include xxs {
    line-height: 1.5em;
  }
}
h3 {
  font-size: 1.5em;
  line-height: 2.2em;
}
h4,
.text_medium {
  font-size: 1.1em;
  line-height: 1.6em;
}
h5 {
  font-size: 0.8em;
  line-height: 1.2em;
}
h1,
h2,
h3 {
  letter-spacing: 0.08em;
}

h4,
h5 {
  letter-spacing: 0.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  color: v.$color-link;
  line-height: 1;

  &:hover {
    color: v.$color-primary;
  }
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  min-width: 20px;
  min-height: 20px;
  padding: 0;
  border: 2px solid v.$light-lines;
  border-radius: 25px;
  appearance: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  top: -1px;
  position: relative;
}

input[type="radio"] {
  &:not(:disabled):checked {
    border: 6px solid v.$color-primary;
  }
}
input[type="checkbox"] {
  &:not(:disabled):checked {
    border: 2px solid v.$color-primary;
    background: url("../public/icons/check.svg") v.$color-primary no-repeat
      center;
  }
}

.label_radio {
  color: v.$color-primary;
}

button,
label {
  cursor: pointer;
}
input,
textarea {
  padding: 2em;
}

mark {
  background: transparent;
  font-weight: 700;
  color: v.$color-text-secondary;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @include xxs {
    max-width: 320px;
  }
  @include xs {
    max-width: 370px;
  }
  @include sm {
    max-width: map-get($breakpoints, "sm");
  }
  @include md {
    max-width: calc(map-get($breakpoints, "md") - 5%);
  }
  @include lg {
    max-width: calc(map-get($breakpoints, "lg") - 5%);
  }
  @include xl {
    max-width: calc(map-get($breakpoints, "xl") - 10%);
  }
  @include xxl {
    max-width: calc(map-get($breakpoints, "xxl") - 10%);
  }
}

.wrapper_small {
  margin: 0 auto;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @include xxs {
    max-width: 320px;
  }
  @include sm {
    max-width: map-get($breakpoints, "sm");
  }
  @include md {
    max-width: map-get($breakpoints, "md");
  }
  @include lg {
    max-width: map-get($breakpoints, "lg");
  }
  @include xl {
    max-width: map-get($breakpoints, "xl");
  }
  @include xxl {
    max-width: map-get($breakpoints, "xxl");
  }
}
.text_bold {
  font-weight: 700;
}
.text_secondary {
  color: v.$color-text-secondary;

  a:hover {
    color: v.$color-text;
  }
}
.text_light {
  color: v.$color-text-light;
}
.text_small {
  font-size: 0.8em;
  line-height: 0.9em;
}
.text_big,
input::placeholder,
.text_medium {
  font-weight: 400;
  line-height: 1.5em;
  text-transform: uppercase;
}
.text_primary {
  color: v.$color-primary;
}
.text_error {
  color: v.$color-error;
}
.mobile-only {
  @media screen and (max-width: map-get($breakpoints, "md")) {
    display: block;
  }
  @include sm {
    display: none !important;
  }
}
.page_layout {
  @include xxs {
    padding: 2em 0;
  }
  @include sm {
    padding: 2em 0;
  }
}
.buttons {
  background: transparent;
  border: none;
  user-select: none;
  &:hover {
    font-weight: 700;
  }
}
.pointer {
  cursor: pointer;
}
