@use "../../variables.module.scss" as v;
@import "../../breakpoints.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 2em;
  background: v.$color-bg;
  @include xs {
    gap: 7em;
  }
}
.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em 0;
  @include xs {
    gap: 1em;
  }
}
.info {
  @include xs {
    flex-direction: column;
    gap: 1em;
  }
}
