@import '../../lib/styles/mixins/breakpoints.module.scss';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;

  @include xxs {
    flex-direction: column;
    gap: 1em;
  }
  @include md {
    flex-direction: row;
    gap: 5em;
  }
  @include lg {
    gap: 2em;
  }
}

.links_grid {
  @include xxs {
    display: block;
  }
  @include md {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 3em;
  }
  @include lg {
    gap: 0 7em;
  }
}
.column {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: space-between;

  @include xxs {
    align-items: center;
    text-align: center;
  }
  @include md {
    align-items: unset;
    text-align: unset;
  }
}
.links {
  @include xxs {
    display: none;
  }
  @include md {
    display: grid;
  }
}
