@use "@lib/styles/variables.module.scss" as v;
@import "@lib/styles/mixins/breakpoints.module.scss";

.container {
  @include xxs {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas: "photo info" "button price";
    gap: 2em;
    width: 100%;
    padding: 2em 0;
    border: 1px solid v.$light-lines;
    border-right: none;
    border-left: none;
    padding: 2em;
  }
  @include sm {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "photo info button price";
  }
}
.photo {
  grid-area: photo;
}
.info {
  grid-area: info;
}
.buttonAmount {
  background: v.$color-bg;
  color: v.$color-text-secondary;
  padding: 0.6em;
  border-radius: 60px;
  grid-area: button;
  width: min-content;
  height: min-content;
  align-self: center;

  @include xxs {
    padding: 0.3em 0.7em;
  }
  @include sm {
    padding: 0.6em;
    justify-self: center;
  }

  button {
    color: v.$color-text-secondary;
  }
}
.price {
  grid-area: price;
  align-self: center;
}
.deleteIcon {
  transform: scale(0.8);
}
