@use '../../variables.module.scss' as v;

.container {
  width: 100%;
}
.buttonAmount {
  background: v.$color-bg;
  color: v.$color-text-secondary;
  padding: 0.4em;
  border-radius: 60px;

  button {
    color: v.$color-text-secondary;
  }
}
