@use "../variables.module.scss" as v;
@import "../breakpoints.module.scss";

.layout {
  display: grid;
  gap: 4em;
  padding: 4em 0;

  @include xxs {
    grid-template-columns: 1fr;
  }
  @include sm {
    grid-template-columns: 0.5fr 3fr;
  }
}
.pagination {
  @include xxs {
    align-self: center;
  }
}
.divider {
  @include xxs {
    & > * {
      padding-bottom: 1.5em;
      border-bottom: 1px solid v.$color-divider;
    }
  }
}
