@use "../variables.module.scss" as v;
@import "../breakpoints.module.scss";

.layout {
  display: grid;
  gap: 4em;

  @include xxs {
    grid-template-columns: 1fr;
  }
  @include sm {
    grid-template-columns: 0.5fr 3fr;
  }
}
.title {
  width: 100%;
}
.pagination {
  @include xxs {
    align-self: center;
  }
}
.container {
  width: 100%;
}
.divider {
  @include xxs {
    & > * {
      padding-bottom: 1.5em;
      border-bottom: 1px solid v.$color-divider;
    }
  }
  @include sm {
    gap: 1em;
    & > * {
      padding-bottom: unset;
      border-bottom: unset;
    }
  }
  @include md {
  }
}
.paginationRecent {
  width: 100%;
}
