@import '../../../lib/styles/mixins/breakpoints.module.scss';

.container {
  li {
    margin: 0;
  }
}
.dots {
  @include xxs {
    flex-direction: row;
  }
  @include sm {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8em;
    top: 0;
  }
  @include md {
    bottom: 0;
    top: unset;
  }
}
.inter {
  @include sm {
    padding: 0 0 0 60px;
  }
  @include md {
    padding: 0 0 0 70px;
  }
}

.defArrows {
  display: none;
}
.textArrows {
  @include xxs {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    transform: scale(0.8);
  }
  @include sm {
    left: 0;
    justify-content: flex-start;
    width: fit-content;
  }
}
.left {
  @include xxs {
    right: 4em;
  }
  @include sm {
    margin-top: 5em;
    right: 0;
  }
}
