@import "../../../breakpoints.module.scss";

.container {
  li {
    margin: 0;
  }
}
.dots {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8em;
  @include xxs {
    flex-direction: row;
  }
}
.inter {
  padding: 0 0 0 80px;
}
.centeredDot {
  left: 13%;
}
