@use "../../variables.module.scss" as v;

.colorContainer {
  display: flex;
  gap: 1em;
}
.option {
  padding: 0.6em 1.4em;
  border: 1px solid v.$light-lines;
  cursor: pointer;
  min-width: 3em;
  min-height: 1.5em;
  text-align: center;
}
.optionColor {
  width: 3em;
  height: 3em;
  min-width: unset;
  min-height: unset;
  border-radius: 6px;
}
.choosen {
  border: 1px solid v.$color-primary;
  background: rgba(v.$color-primary, 0.1);
  color: v.$color-text;
}
.input[type="radio"] {
  display: none;
}
