@import '../breakpoints.module.scss';

.photo {
  @include xxs {
    display: none;
  }
  @include md {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.container {
  display: grid;
  @include xxs {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(100px, 400px);
  }
  @include md {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
.catalog_wrapper {
  max-width: 1440px;
}
.icon {
  @include xxs {
    width: 16px;
    height: 16px;
  }
  @include lg {
    width: 30px;
    height: 30px;
  }
}
