@import "../breakpoints.module.scss";

.photo {
  @include xs {
    display: none;
  }
  @include md {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.container {
  display: grid;
  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
}
