@use "@lib/styles/variables.module.scss" as v;
@import "@lib/styles/mixins/breakpoints.module.scss";
@import "@lib/styles/mixins/animations.module.scss";

.article {
  text-transform: uppercase;
}
.top {
  width: 100%;
}
.unavailable {
  filter: grayscale(100%);
}
