@use "../../variables.module.scss" as v;

.option {
  padding: 0.1em 0.8em;
  border: 1px solid v.$light-lines;
  cursor: pointer;
  min-width: 3em;
  min-height: 1.5em;
  text-align: center;
}
.choosen {
  border: 1px solid v.$color-primary;
  background: rgba(v.$color-primary, 0.1);
  color: v.$color-text;
}
.input[type="radio"] {
  display: none;
}
.colorContainer {
  display: flex;
  gap: 1em;
}
