@use "@lib/styles/variables.module.scss" as v;
@import "@lib/styles/mixins/animations.module.scss";

.dot {
  border: 2px solid transparent;
  cursor: pointer;

  @include animation-on-hover {
    border: 2px solid v.$color-primary;
  }
}
.active {
  border: 2px solid v.$color-primary;
}
