@@use '../../lib/styles/variables.module.scss' as v;.module.scss' as v;
@import '../../lib/styles/mixins/breakpoints.module.scss';

.container {
  @include lg {
    grid-column: 2;
  }
}
.cartInfo {
  width: 100%;
}
.orderButton {
  align-self: center;
  margin-top: 3em;
  width: 100%;
  border-radius: 0;
}
