@import '../../breakpoints.module.scss';

.container {
  @include xxs {
    display: grid;
    gap: 2em;
    grid-template-areas:
      'image title'
      'text text';
  }
  @include sm {
    grid-template-areas:
      'image title'
      'image text';
  }
}
.image {
  width: 190px;
  height: 100%;
  object-fit: cover;
  grid-area: image;
}
.title {
  grid-area: title;
  @include xxs {
    align-self: center;
  }
  @include sm {
    align-self: flex-end;
  }
}
.text {
  grid-area: text;
}
