@import '../../../breakpoints.module.scss';

.card {
  display: grid;
  padding: 1em;
  align-items: center;
  gap: 1em;
  justify-items: center;
  text-align: unset;
  @include xxs {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    grid-template-columns: 1fr;
  }
}
.title {
  @include xxs {
    justify-self: flex-start;
  }
  @include sm {
    justify-self: center;
    text-align: center;
  }
}
