@import '../../breakpoints.module.scss';

.photo {
  background: #343a45;
  position: relative;
  z-index: -1000;
  width: 100%;
  object-fit: contain;

  @include xxs {
    height: 545px;
    object-fit: cover;
    object-position: 70% bottom;
    transform: translateY(-12%);
  }
  @include md {
    height: auto;
  }
}
