@import "../../breakpoints.module.scss";

.photo {
  transform: translateY(-10%);
  background: #343a45;
  position: relative;
  z-index: -1000;
  width: 100%;
  object-fit: contain;
  @include xs {
    height: 573px;
    object-fit: cover;
    object-position: 70% bottom;
  }
  @include md {
    height: auto;
  }
}
