@import "../../../breakpoints.module.scss";

.container {
  cursor: grabbing;
}
.notOverflowed {
  overflow: unset;
}

.withoutArrows {
  position: relative;
}
.item {
  @include md {
    max-width: 330px;
    min-width: 330px;
  }
  @include xl {
    max-width: 430px;
    min-width: 430px;
  }
}
.withArrowsMobile {
  margin-left: 0;
  position: unset;
}
