@import '../../../breakpoints.module.scss';

.container {
  cursor: grabbing;
}
.notOverflowed {
  overflow: unset;
}
.withArrows {
  align-items: flex-start;

  @include xxs {
    height: 400px;
  }
  @include md {
    height: 500px;
  }
  @include lg {
    height: 550px;
  }
  @include xl {
    height: 700px;
  }
}
.withoutArrows {
  position: relative;
}
.item {
  @include md {
    max-width: 330px;
    min-width: 330px;
  }
  @include xl {
    max-width: 430px;
    min-width: 430px;
  }
}
.withArrowsMobile {
  margin-left: 0;
  position: unset;
}
