@import "../../../breakpoints.module.scss";

.container {
  cursor: grabbing;
}
.overflowed {
  overflow: unset;
}
.withArrows {
  align-items: flex-start;

  @include xs {
    height: 400px;
  }
  @include md {
    height: 500px;
  }
  @include lg {
    height: 550px;
  }
}
