@import "../../breakpoints.module.scss";

.container {
  display: grid;
  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
}
