@use "@lib/styles/variables.module.scss" as v;
@import "@lib/styles/mixins/breakpoints.module.scss";
@import "@lib/styles/mixins/animations.module.scss";

.container {
  background: v.$color-primary;
  padding: 1.2em;
  border-radius: 50px;
  color: v.$color-text-light;
  gap: 1.3em;
  width: 14em;
  @include animation-on-hover {
    background: v.$hover;
  }
}
