@use "../../variables.module.scss" as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  h5 {
    color: inherit;
  }
}
.circled {
  background: v.$color-primary;
  border-radius: 50%;
  padding: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
