@use "../../variables.module.scss" as v;

.container {
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  h5 {
    color: inherit;
  }
}
.border {
  border: 1px solid v.$light-lines;
}
