@use "../../variables.module.scss" as v;
@import "../../breakpoints.module.scss";

.container {
  position: relative;

  @include xxs {
    padding: 2em 0;
  }
  @include sm {
    padding: 1em 0;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    color: inherit;
  }
}
.border {
  border: 1px solid v.$light-lines;
}
.notMobile {
  @include xxs {
    display: none;
  }
  @include sm {
    display: block;
  }
}
.logo_opened {
  @include xxs {
    z-index: 1000;
    position: relative;
    path {
      fill: black;
    }
  }
  @include sm {
    display: block;
  }
}
